---
import Layout from "../layouts/Layout.astro";
import Navbar from "../components/sections/Navbar";
import FAQ from "../components/sections/FAQ";
import Footer from "../components/sections/Footer";
import "../styles/global.css";
---

<Layout title="FAQ | BOSS">
  <Navbar client:load />
  <div class="pt-24">
    <FAQ client:load />
  </div>
  <Footer client:load />
</Layout>
